@page
@model KoiCareSystemAtHome.RazorWebApp.Pages.KoiFishPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].FishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].BodyShape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].Pond.PondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiFish[0].User.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KoiFish) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyShape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pond.PondId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FishId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FishId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FishId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
